{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	<div class="pokemonSearch">
		{{form(form)}}
	</div>

	<div class="pokemonGrid">
		{% for pokemon in pokemons%}
			<div>
				<a class='pokemon' href="{{ path('pokemon', {name: pokemon.name}) }}">
					<div><img src="{{pokemon.sprite}}" alt="" width='200px'></div>

					<div>{{ pokemon.name|trans({}, 'pokemon') }}</div>
					<div>
						{% for type in pokemon.types %}
							<div class="type {{ type }}">{{ type|trans({}, 'types') }}</div>
						{% endfor %}
					</div>
				</a>
			</div>
		{% endfor %}
	</div>

	<div class="my-20 text-center">
		<a href="{{ path('index', {limit: nextLimit}) }}" class="btn-primary">{{ "Load more Pokémon"|trans}}</a>
	</div>

	<footer></footer>
{% endblock %}
