{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	<div class="pokemonGrid">
		{% for pokemon in pokemons%}
			<div>
				<a class='pokemon' href="{{ path('pokemon', {name: pokemon.name}) }}">
					<div><img src="{{pokemon.sprite}}" alt="" width='200px'></div>

					<div>{{pokemon.name}}</div>
					<div>
						{% for type in pokemon.types %}
							<div class="type {{ type }}">{{ type }}</div>
						{% endfor %}
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
