{% extends 'base.html.twig' %}

{% block title %}{{pokemon.name|trans({}, 'pokemon')|capitalize}}{% endblock %}

{% block body %}

	<div class="pokemonSearch">
		{{form(form)}}
	</div>

	<div class="flex gap-20 flex-wrap container">
		<div class="pokemonWidget pokemonDetail">
			<div class="flex justify-center align-center gap-10 mb-10">
				<div>#{{ pokemon.id }}</div>
				<h1 class="hover"><a href="https://www.pokepedia.fr/{{pokemon.name|trans({}, 'pokemon')}}" target="_blank">{{pokemon.name|trans({}, 'pokemon')|capitalize}}</a></h1>
			</div>
			{% if app.request.locale == "en" %}
				<h3>{{pokemon.name|trans({}, 'pokemon', 'fr')|capitalize}}</h3>
			{% else %}
				<h3>{{pokemon.name|capitalize}}</h3>
			{% endif %}
			<div>
				<img src="{{pokemon.sprite}}" alt="" class="img">
			</div>

			<div class='flex justify-center gap-10'>
				{% for type in pokemon.types %}
					<div class="type {{ type }}">{{ type|trans({}, 'types') }}</div>
				{% endfor %}
			</div>

			{# <div class="infos">
				<div>{{'Height'|trans}} : {{pokemon.height}}m</div>
				<div>{{'Weight'|trans}} : {{pokemon.weight}}kg</div>
			</div> #}

			{# <div class="abilities mt-20 gap-3">
				{% for ability in pokemon.abilities %}
					<span class="ability-tooltip">
						{{ ability.name.fr }}

						<span class="tooltip-content">
							{{ ability.description.fr }}
						</span>
					</span>
				{% endfor %}
			</div> #}
			
			


		</div>

		<div class="pokemonWidget pokemonStats">
			<h2 class="mb-40">{{ 'Base Stats'|trans }}</h2>
			<div class="stats">
				{% for stat in pokemon.stats %}
					{% set value = stat.base_stat %}
					{% set percent = (value / 255 * 100)|round %}

					{% if value < 60 %}
						{% set level = 'low' %}
					{% elseif value < 80 %}
						{% set level = 'medium' %}
					{% elseif value < 100 %}
						{% set level = 'good' %}
					{% else %}
						{% set level = 'high' %}
					{% endif %}

					<div class="stat">
						<div class="stat-header">
							<span>{{ stat.name|trans({}, 'stats')|capitalize }}</span>
							<span>{{ value }}</span>
						</div>

						<div class="stat-bar">
							<div class="stat-fill {{ level }}" style="width: {{ percent }}%"></div>
						</div>
					</div>
				{% endfor %}

				<div class="stat total">
					<div class="stat-header">
						<span>{{ 'Total'|trans }}</span>
						<span>=
							{{ pokemon.stats_total }}</span>
					</div>
				</div>


			</div>
		</div>

		<div class="pokemonWidget pokemonForceFaiblesse">
			<h2 class="mb-40">{{ 'Type effectiveness'|trans }}</h2>
			{% if pokemon.damage is defined %}
				<div class="flex flex-column">
					{% if pokemon.damage.immunities %}
						<div>
							<div class="bold titleForceFaiblesse">{{ 'Immune to'|trans }} :</div>
							<div class="flex gap-10 align-center">
								{% for immunity in pokemon.damage.immunities %}
									<div class="type {{ immunity }}">{{ immunity|trans({}, 'types') }}</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}

					{% if pokemon.damage.resistances or pokemon.damage.resistances %}
						<div class="mt-20">
							<div class="bold titleForceFaiblesse">{{ 'Resistant to'|trans }} :</div>
							<div class="flex gap-10 mb-5 align-center flex-wrap">
								{% if pokemon.damage.strong_resistances %} <div class="bold">(x 0.25) :</div> {% endif %}
								{% for strongResistance in pokemon.damage.strong_resistances %}
									<div class="type {{ strongResistance }}">{{ strongResistance|trans({}, 'types') }}</div>
								{% endfor %}
							</div>
							<div class="flex gap-10 align-center flex-wrap">
								{% if pokemon.damage.resistances %} <div class="bold">(x 0.5) :</div> {% endif %}
								{% for resistance in pokemon.damage.resistances %}
									<div class="type {{ resistance }}">{{ resistance|trans({}, 'types') }}</div>
								{% endfor %}
							</div>

						</div>
					{% endif %}


					{% if pokemon.damage.weaknesses or pokemon.damage.strong_weaknesses %}
						<div class="mt-20">
							<div class="bold titleForceFaiblesse">{{ 'Weak to'|trans }} :</div>
							<div class="flex gap-10 mb-5 align-center flex-wrap">
								{% if pokemon.damage.weaknesses %} <div class="bold">(x 2) :</div> {% endif %}
								{% for weakness in pokemon.damage.weaknesses %}
									<div class="type {{ weakness }}">{{ weakness|trans({}, 'types') }}</div>
								{% endfor %}
							</div>

							<div class="flex gap-10 align-center flex-wrap">
								{% if pokemon.damage.strong_weaknesses %} <div class="bold">(x 4) :</div> {% endif %}
								{% for strongWeakness in pokemon.damage.strong_weaknesses %}
									<div class="type {{ strongWeakness }}">{{ strongWeakness|trans({}, 'types') }}</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}

					{# {% if pokemon.damage.strong_weaknesses %}
						<div></div>
					{% endif %} #}
				</div>

			{% else %}
				<div>Pas d'information sur les résistances/faiblesses.</div>
			{% endif %}
		</div>

		<div class="pokemonWidget pokemonAbilities">
			<h2 class="mb-40">{{ 'Abilities'|trans }}</h2>
			<div class="abilities">
				{% for ability in pokemon.abilities %}
					<div class="bold border-bottom-title mt-30">{{ ability.name.fr }} :</div>
					<div class="mt-10">{{ ability.description.fr }}</div>
				{% endfor %}
			</div>
		</div>



		{% if pokemon.evolutions %}
		
			<div class="pokemonWidget evolution-horizontal">

				{% macro renderEvolution(evo) %}
					<div class="evolution-row">
						<div class="evo-item">
							<img src="{{ evo.sprite }}" alt="{{ evo.name }}" class="evo-sprite">
							<a class="evo-name hover" href="{{ path('pokemon', { name: evo.name }) }}" target="_blank">
								{{ evo.name|trans({}, 'pokemon')|capitalize }}
							</span>
						</div>

						{% if evo.evolves_to is not empty %}
							{% for next in evo.evolves_to %}
								<div class="evo-arrow">
									→
									{% if next.conditions %}
										<div class="evo-conditions">
											{% for key, value in next.conditions %}
												{% if value %}
													<span>{{ key|replace({'_':' '})|capitalize }} : {{ value }}</span>
												{% endif %}
											{% endfor %}
										</div>
									{% endif %}
								</div>

								{{ _self.renderEvolution(next) }}
							{% endfor %}
						{% endif %}
					</div>
				{% endmacro %}

				{% for evolution in pokemon.evolutions %}
					{{ _self.renderEvolution(evolution) }}
				{% endfor %}

			</div>
		{% endif %}
	
	
	</div>
	{# <div class="mt-40 text-center"> #}
		{# <a href="{{ path('index') }}" onclick="window.history.back(); return false;" class="btn-primary">{{'Back'|trans}}</a> #}
		{# <a href="{{ path('index') }}" class="btn-primary">{{'Back'|trans}}</a> #}
	{# </div> #}
{% endblock %}
