{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<div class="pokemonDetail">
		<h1>{{pokemon.name|trans({}, 'pokemon')}}</h1>
		<div><img src="{{pokemon.sprite}}" alt="" width='200px'></div>

		<div class='flex justify-center gap-10'>
			{% for type in pokemon.types %}
				<div class="type {{ type }}">{{ type|trans({}, 'types') }}</div>
			{% endfor %}
		</div>

		<div class="infos">
			<div>{{'Height'|trans}} : {{pokemon.height}}m</div>
			<div>{{'Weight'|trans}} : {{pokemon.weight}}kg</div>
		</div>

		<div class="stats">
			{% for stat in pokemon.stats %}
				<div>
					<span>{{ stat.name|trans({}, 'stats') }}</span>
					<span>{{ stat.base_stat }}</span>
				</div>
			{% endfor %}
		</div>

		<div class="mt-40 text-center">
			<a href="{{ path('index') }}" onclick="window.history.back(); return false;" class="btn-primary">{{'Back'|trans}}</a>
		</div>

	{% endblock %}
