{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<div class="pokemonDetail">
		<div class="flex justify-center align-center gap-10 mb-10">
			<div>#{{ pokemon.id }}</div>
			<h1>{{pokemon.name|trans({}, 'pokemon')|capitalize}}</h1>
		</div>
		{% if app.request.locale == "en" %}
			<h3>{{pokemon.name|trans({}, 'pokemon', 'fr')|capitalize}}</h3>
		{% else %}
			<h3>{{pokemon.name|capitalize}}</h3>
		{% endif %}
		<div>
			<img src="{{pokemon.sprite}}" alt="" class="img">
		</div>

		<div class='flex justify-center gap-10'>
			{% for type in pokemon.types %}
				<div class="type {{ type }}">{{ type|trans({}, 'types') }}</div>
			{% endfor %}
		</div>

		<div class="infos">
			<div>{{'Height'|trans}}
				:
				{{pokemon.height}}m</div>
			<div>{{'Weight'|trans}}
				:
				{{pokemon.weight}}kg</div>
		</div>

		<div class="stats">
			{% for stat in pokemon.stats %}
				{% set value = stat.base_stat %}
				{% set percent = (value / 255 * 100)|round %}

				{% if value < 60 %}
					{% set level = 'low' %}
				{% elseif value < 80 %}
					{% set level = 'medium' %}
				{% elseif value < 100 %}
					{% set level = 'good' %}
				{% else %}
					{% set level = 'high' %}
				{% endif %}

				<div class="stat">
					<div class="stat-header">
						<span>{{ stat.name|trans({}, 'stats')|capitalize }}</span>
						<span>{{ value }}</span>
					</div>

					<div class="stat-bar">
						<div class="stat-fill {{ level }}" style="width: {{ percent }}%"></div>
					</div>
				</div>
			{% endfor %}

			<div class="stat total">
				<div class="stat-header">
					<span>Somme des statistiques de base</span>
					<span>{{ pokemon.stats_total }}</span>
				</div>
			</div>


		</div>

		<div class="mt-40 text-center">
			<a href="{{ path('index') }}" onclick="window.history.back(); return false;" class="btn-primary">{{'Back'|trans}}</a>
		</div>
	</div>

{% endblock %}
